// Buttons in navbars
//
// Vertically center a button within a navbar (when *not* in a form).
$bgDefault: #4a86cf;
$bgHighlight: $gnome-hover-color;
$colDefault: #ffffff;
$colHighlight: #ffffff;
$dropDown: false;
.navbar-default {
  background-color: $bgDefault;
  border-color: $bgHighlight;
  padding-top: 0;
  padding-bottom: 0;

  .navbar-brand {
    color: $colDefault;

    &:hover, &:focus {
      color: $colHighlight;
    }
  }
  
  a {
    text-decoration: none;
    
    &:hover {
      text-decoration: none;
    }
  }
  
  

  .navbar-text {
    color: $colDefault;
  }

  .navbar-nav {
    > li {
      > a {
        color: $colDefault;
        padding-top: 15px;
        padding-bottom: 15px;

        &:hover, &:focus {
          color: $colHighlight;
          background-color: rgba($colHighlight, .2)
        }
      }

      @if $dropDown {
        > .dropdown-menu {
          background-color: $bgDefault;

          > li {
            > a {
              color: $colDefault;

              &:hover, &:focus {
                color: $colHighlight;
                background-color: $bgHighlight;
              }
            }

            > .divider {
              background-color: $bgHighlight;
            }
          }
        }
      }
    }

    @if $dropDown {
      .open .dropdown-menu > .active {
        > a, > a:hover, > a:focus {
          color: $colHighlight;
          background-color: $bgHighlight;
        }
      }
    }

    > .active {
      > a, > a:hover, > a:focus {
        color: $colHighlight !important;
        background-color: $bgHighlight !important;
      }
    }

    > .open {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight;
      }
    }
  }

  .navbar-toggle {
    border-color: $bgHighlight;

    &:hover, &:focus {
      background-color: $bgHighlight;
    }

    .icon-bar {
      background-color: $colDefault;
    }
  }

  .navbar-collapse,
  .navbar-form {
    border-color: $colDefault;
  }

  .navbar-link {
    color: $colDefault;

    &:hover {
      color: $colHighlight;
    }
  }
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu {
    > li > a {
      color: $colDefault;

      &:hover, &:focus {
        color: $colHighlight;
      }
    }

    > .active {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight;
      }
    }
  }
}
