#searchform {
  width: 100%;
}

.search-box.is-visible {
  left: 10px;
}

.search-close {
  position: absolute;
  top: 0;
  right: 0;
  transition: .4s ease;
}

.search-icon, .search-close {
  padding-top: 12px;
  border: 0;
  background-color: transparent;
}

.form-icon {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  display: block;
  width: 34px;
  height: 34px;
  padding-left: 5px;
  padding-top: 6px;
  line-height: 34px;
  text-align: center;
  pointer-events: none;
}

.search-box {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: calc(100% - 60px);
  right: 60px;
  height: 50px;
  z-index: 9;
  background-color: $gnome-primary;
  overflow: hidden;
  transition: .25s ease;
}

.search-input {
  width: 100%;
  height: 40px;
  padding-left: 30px;
  margin-left: 5px;
  color: $white;
  background-color: rgba($white, .1);
  font-size: 16px;
  /*line-height: 28px;*/
  border: none;
  transition: all .35s ease;
}

@media (min-width: 768px) {
  .search-icon, .search-close {
    padding-top: 15px;
  }
  .search-box.is-visible {
    left: 40px;
  }
}

@media (min-width: 1200px) {
  .search-box {
    left: calc(100% - 150px);
    right: 150px;
  }
}

@media (min-width: 992px) {
  .search-box {
    left: calc(100% - 40px);
    right: 40px;
  }
}
