$container-max-widths: (
  sm: 540px,
  md: 750px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px
);

/**
 Remove padding left and right screen <= medium screens.
 For the max-width value: https://getbootstrap.com/docs/5.2/layout/containers/
**/
@media (min-width: 576px) and (max-width: 992px){
  .container-md,
  .container {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
  }
}

@media (max-width: 576px) {
  .container-sm,
  .container {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
