.gnome-header {
  padding-bottom: 90px;
  position: sticky;
  top: 0;
  z-index: 1200;

  .gnome-navbar-brand {
    @extend .navbar-brand;
    padding: 6px 6px 6px 0;
    float: left;

    img {
      max-height: 35px;
      min-width: 35px;
    }
  }

  .avatar {
    background-color: transparent !important;
    margin: 10px 15px 10px 0;
    padding: 0;
    
    img {
      border-radius: 50%;
      height: 30px;
      width: 30px;
    }
  }

  .dropdown-menu {
    margin-top: 15px !important;
    min-width: 220px;
    padding: 15px 15px 15px;
    box-shadow: none;
  }

  .user-menu {
    a, button {
      color: $body-color;
    }
  }
}

@media screen and (max-width: 767px) {
  .gnome-header .gnome-navbar-brand {
    margin-left: 15px;
  }
}
