.m-r-0 {
  margin-right: 0;
}

.m-l-0 {
  margin-left: 0;
}

.m-t-0 {
  margin-top: 0;
}

.m-b-0 {
  margin-bottom: 0;
}

.p-r-0 {
  padding-right: 0;
}

.p-l-0 {
  padding-left: 0;
}

.p-t-0 {
  padding-top: 0;
}

.p-b-0 {
  padding-bottom: 0;
}

.form-control {
  @include box-shadow(none); // Redeclare so transitions work
  &:focus {
    @include box-shadow(none);
  }
}

.triangles {
  background: transparent url('../images/triangles.png') no-repeat 95% 10%;
}

.col-centered {
  float: none;
  margin: 0 auto;
}
