a {
    color: $gnome-link-color;
    text-decoration: none;
    
    &:hover {
        color: $gnome-hover-color;
        text-decoration: underline;
    }

    code {
        color: var(--bs-code-color);
    }
}
